{% extends 'base.html.twig' %}

{% block title %}Supprimer un chaton{% endblock %}

{% block body %}
    <div class="container">
        <h1>Es-tu sur de vouloir supprimer le chaton : <i><b>{{ chaton.nom }}</b></i> ?</h1>
        {{ form(formulaire) }}
        {# je vais mettre le bouton retour #}
        <a href="{{ path("app_categories") }}" class="btn btn-success">Non</a>
    </div>
{% endblock %}