{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier la catégorie : <i><b>{{ categorie.titre }}</b></i></h1>
        {{ form(formulaire) }}
    </div>
{% endblock %}